<div>
    <div ng-show="loginPage">
        <div class="modal-content" >
            <div class="modal-header">
                <div class="modal-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>

            <div style="padding-top:30px" class="modal-body" >

                <div id="login-alert" class="alert alert-danger col-sm-12" ng-show="form.error_msg">
                    {{form.error_msg}}
                </div>

                <form id="loginform" name="loginform" class="form-horizontal" role="form" novalidate>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input id="login-username" type="email" required
                               class="form-control" name="username" value="" placeholder="Email Address" ng-model="form.email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input required id="login-password" type="password"
                               class="form-control" name="password" placeholder="Password" ng-model="form.password">
                    </div>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1" ng-model="form.rememberme"> Remember me
                            </label>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btn-login" href="" class="btn btn-info"
                               ng-disabled="loginform.$invalid"
                               ng-click="vm.login()">Login</button>
                            <!--<a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account!
                                <a href="#" ng-click="loginPage=false">
                                    Sign Up Here
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div ng-show="!loginPage">
        <div class="model-content">
            <div class="modal-header">
                <div class="model-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px">
                    <a id="signinlink" href="#" ng-click="loginPage=true">Sign In</a></div>
            </div>
            <div class="modal-body" >
                <form name="signupform" id="signupform" class="form-horizontal" role="form" novalidate>

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>

                    <div class="form-group" ng-class="{'has-error':form.name_taken}">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input id="email" type="email" class="form-control" name="email" required ng-minlength="5"
                                   placeholder="Email Address" ng-model="form.email" ng-change="vm.checkUsername(form.email)">
                            <p ng-show="form.name_taken" class="help-block">The email address has been used by others.</p>
                            <p ng-show="signupform.email.$invalid" class="help-block">Please input an email address.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input id="password" type="password" class="form-control" name="passwd" placeholder="Password" ng-model="form.password">
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':form.password_not_match}">
                        <label for="password-2" class="col-md-3 control-label">Re-Password</label>
                        <div class="col-md-9">
                            <input id="password-2" type="password" class="form-control" name="passwd-2"
                                   placeholder="Repeat Password" ng-model="form.password_2"
                                   ng-change="vm.checkPassword(form.password_2)">
                            <p ng-show="form.password_not_match" class="help-block">Password does not match.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"
                                    ng-disabled="signupform.$invalid || (form.password_not_match === true) || (form.name_taken===true)"
                                    ng-click="vm.signUp()">Sign Up</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
